openapi: 3.1.2
info:
  title: SDKWork Web Backend API
  description: SDKWork Web Server 管理后台 API
  version: 1.0.0
servers:
  - url: https://api.web.sdkwork.com
    description: Production
  - url: http://localhost:3800
    description: Local Development

security:
  - AuthToken: []
    AccessToken: []

paths:
  /backend/v3/api/nginx/configs:
    get:
      operationId: nginx.configs.list
      summary: 获取 Nginx 配置列表
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: siteId
          in: query
          schema:
            type: string
            format: uuid
        - name: configType
          in: query
          schema:
            type: integer
            enum: [1, 2, 3, 4]
        - name: isActive
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfigPage'
    post:
      operationId: nginx.configs.create
      summary: 创建 Nginx 配置
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNginxConfigRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfigResponse'

  /backend/v3/api/nginx/configs/{configId}:
    parameters:
      - name: configId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: nginx.configs.retrieve
      summary: 获取 Nginx 配置详情
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfigResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: nginx.configs.update
      summary: 更新 Nginx 配置
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNginxConfigRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfigResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /backend/v3/api/nginx/configs/{configId}/validate:
    parameters:
      - name: configId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: nginx.configs.validate
      summary: 校验 Nginx 配置
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      responses:
        '200':
          description: 校验结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxValidateResponse'

  /backend/v3/api/nginx/configs/{configId}/deploy:
    parameters:
      - name: configId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: nginx.configs.deploy
      summary: 部署 Nginx 配置
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      responses:
        '200':
          description: 部署成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeployResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /backend/v3/api/nginx/reload:
    post:
      operationId: nginx.reload
      summary: 热加载 Nginx
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      responses:
        '200':
          description: 热加载结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxReloadResponse'

  /backend/v3/api/nginx/status:
    get:
      operationId: nginx.status.retrieve
      summary: 获取 Nginx 状态
      tags: [nginx]
      security:
        - AuthToken: []
          AccessToken: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxStatusResponse'

  /backend/v3/api/servers:
    get:
      operationId: servers.list
      summary: 获取服务器列表
      tags: [server]
      security:
        - AuthToken: []
          AccessToken: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerPage'
    post:
      operationId: servers.create
      summary: 注册服务器
      tags: [server]
      security:
        - AuthToken: []
          AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerRequest'
      responses:
        '201':
          description: 注册成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerResponse'

  /backend/v3/api/agent/heartbeat:
    post:
      operationId: agent.heartbeat
      summary: 边缘节点心跳
      tags: [agent]
      x-sdkwork-auth-mode: agent-token
      security:
        - AgentToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentHeartbeatRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentHeartbeatResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /backend/v3/api/agent/sync:
    get:
      operationId: agent.sync
      summary: 拉取 nginx 配置与证书 bundle
      tags: [agent]
      x-sdkwork-auth-mode: agent-token
      security:
        - AgentToken: []
      parameters:
        - name: ifSyncVersion
          in: query
          description: When it matches the current tenant manifest fingerprint, returns unchanged=true with empty bundles.
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSyncResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /backend/v3/api/audit_logs:
    get:
      operationId: auditLogs.list
      summary: 获取审计日志列表
      tags: [audit]
      security:
        - AuthToken: []
          AccessToken: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: targetType
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: operatorId
          in: query
          schema:
            type: integer
            format: int64
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogPage'

components:
  securitySchemes:
    AuthToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
    AgentToken:
      type: apiKey
      in: header
      name: X-SDKWork-Agent-Token

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSizeParam:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        requestId:
          type: string

    CreateNginxConfigRequest:
      type: object
      required: [configType, configName, configContent]
      properties:
        configType:
          type: integer
          enum: [1, 2, 3, 4]
        configName:
          type: string
          maxLength: 200
        configContent:
          type: string
        siteId:
          type: string
          format: uuid
        domainId:
          type: string
          format: uuid

    UpdateNginxConfigRequest:
      type: object
      properties:
        configContent:
          type: string
        configName:
          type: string
          maxLength: 200

    NginxConfigResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        configType:
          type: integer
        configName:
          type: string
        configContent:
          type: string
        configHash:
          type: string
        isActive:
          type: boolean
        versionNo:
          type: integer
        deployedAt:
          type: string
          format: date-time
        status:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    NginxConfigPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/NginxConfigResponse'
        total:
          type: integer
          format: int64

    NginxValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            type: object
            properties:
              line:
                type: integer
              message:
                type: string
              severity:
                type: string
                enum: [error, warning, info]

    NginxDeployResponse:
      type: object
      properties:
        success:
          type: boolean
        configId:
          type: string
          format: uuid
        deployedAt:
          type: string
          format: date-time
        reloadResult:
          type: object
          properties:
            reloaded:
              type: boolean
            message:
              type: string

    NginxReloadResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        timestamp:
          type: string
          format: date-time

    NginxStatusResponse:
      type: object
      properties:
        running:
          type: boolean
        version:
          type: string
        pid:
          type: integer
        activeConnections:
          type: integer
        configPath:
          type: string
        uptime:
          type: string

    CreateServerRequest:
      type: object
      required: [name, host, sshPort]
      properties:
        name:
          type: string
          maxLength: 100
        host:
          type: string
          maxLength: 255
        sshPort:
          type: integer
          default: 22
        sshUser:
          type: string
          default: root
        sshKeyPath:
          type: string
        description:
          type: string
          maxLength: 500

    ServerResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        host:
          type: string
        sshPort:
          type: integer
        status:
          type: integer
          description: '0=offline, 1=online'
        lastHeartbeatAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CreateServerResponse:
      allOf:
        - $ref: '#/components/schemas/ServerResponse'
        - type: object
          required: [agentToken]
          properties:
            agentToken:
              type: string
              description: Bootstrap agent credential; returned once at registration.

    AgentHeartbeatRequest:
      type: object
      properties:
        agentVersion:
          type: string
        nginxEnabled:
          type: boolean
        activeConfigs:
          type: integer
          format: int64
        lastSyncVersion:
          type: string
          description: Last successfully applied syncVersion reported by the edge agent.

    AgentHeartbeatResponse:
      type: object
      properties:
        serverId:
          type: string
          format: uuid
        status:
          type: integer
        acknowledgedAt:
          type: string
          format: date-time

    AgentSyncResponse:
      type: object
      properties:
        serverId:
          type: string
          format: uuid
        syncVersion:
          type: string
          description: Stable SHA-256 fingerprint of active nginx configs and certificates for the tenant.
        unchanged:
          type: boolean
          description: True when ifSyncVersion matched syncVersion; bundles are omitted to save bandwidth.
        nginxConfigs:
          type: array
          items:
            $ref: '#/components/schemas/AgentNginxConfigBundle'
        certificates:
          type: array
          items:
            $ref: '#/components/schemas/AgentCertificateBundle'

    AgentNginxConfigBundle:
      type: object
      properties:
        configId:
          type: string
          format: uuid
        domain:
          type: string
        configContent:
          type: string
        fingerprint:
          type: string
          description: SHA-256 hex digest of configContent.
        version:
          type: integer
          format: int64

    AgentCertificateBundle:
      type: object
      properties:
        certificateId:
          type: string
          format: uuid
        certName:
          type: string
        fingerprint:
          type: string
        fullchainPem:
          type: string
        privkeyPem:
          type: string

    ServerPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ServerResponse'
        total:
          type: integer
          format: int64

    AuditLogResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        operatorId:
          type: integer
          format: int64
        operatorType:
          type: string
        action:
          type: string
        targetType:
          type: string
        targetId:
          type: integer
          format: int64
        targetUuid:
          type: string
        requestId:
          type: string
        ipAddress:
          type: string
        changes:
          type: object
        createdAt:
          type: string
          format: date-time

    AuditLogPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogResponse'
        total:
          type: integer
          format: int64

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    Unauthorized:
      description: 未认证
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    NotFound:
      description: 资源不存在
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    Conflict:
      description: 资源冲突
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
