{
  "openapi": "3.1.2",
  "info": {
    "title": "SDKWork Web Backend API",
    "description": "SDKWork Web Server management and control-plane API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.web.sdkwork.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3800",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "AuthToken": [],
      "AccessToken": []
    }
  ],
  "paths": {
    "/backend/v3/api/nginx/configs": {
      "get": {
        "operationId": "nginx.configs.list",
        "summary": "List Nginx configurations",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "siteId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configType",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4
              ]
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nginx configuration list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/NginxConfigResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "nginx.configs.create",
        "summary": "Create an Nginx configuration",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNginxConfigRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Nginx configuration created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxConfigResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/nginx/etc/{configId}": {
      "parameters": [
        {
          "name": "configId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "nginx.configs.retrieve",
        "summary": "Retrieve an Nginx configuration",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "Nginx configuration returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxConfigResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "put": {
        "operationId": "nginx.configs.update",
        "summary": "Update an Nginx configuration",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNginxConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nginx configuration updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxConfigResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/nginx/etc/{configId}/validate": {
      "parameters": [
        {
          "name": "configId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "nginx.configs.validate",
        "summary": "Validate an Nginx configuration",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "Nginx configuration validation result.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxValidateResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/nginx/etc/{configId}/deploy": {
      "parameters": [
        {
          "name": "configId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "nginx.configs.deploy",
        "summary": "Deploy an Nginx configuration",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "responses": {
          "200": {
            "description": "Nginx configuration deployed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxDeployResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/nginx/reload": {
      "post": {
        "operationId": "nginx.reload",
        "summary": "Reload Nginx",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "Nginx reload result.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxReloadResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/nginx/status": {
      "get": {
        "operationId": "nginx.status.retrieve",
        "summary": "Retrieve Nginx status",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "Nginx status returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxStatusResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/servers": {
      "get": {
        "operationId": "servers.list",
        "summary": "List managed servers",
        "tags": [
          "server"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.servers.read",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Managed server list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ServerResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "servers.create",
        "summary": "Register a managed server",
        "tags": [
          "server"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.servers.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Managed server registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/CreateServerResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/agent/heartbeat": {
      "post": {
        "operationId": "agent.heartbeat",
        "summary": "Report an edge-agent heartbeat",
        "tags": [
          "agent"
        ],
        "security": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "api-key",
        "x-sdkwork-route-auth": "agent-token",
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentHeartbeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edge-agent heartbeat acknowledged successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/AgentHeartbeatResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-permission": "web.agent.write"
      }
    },
    "/backend/v3/api/agent/sync": {
      "get": {
        "operationId": "agent.retrieve",
        "summary": "Retrieve the Nginx configuration and certificate bundle",
        "tags": [
          "agent"
        ],
        "security": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "api-key",
        "x-sdkwork-route-auth": "agent-token",
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "parameters": [
          {
            "name": "ifSyncVersion",
            "in": "query",
            "description": "When it matches the current tenant manifest fingerprint, returns unchanged=true with empty bundles.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Edge-agent synchronization bundle returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/AgentSyncResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-permission": "web.agent.read"
      }
    },
    "/backend/v3/api/audit_logs": {
      "get": {
        "operationId": "auditLogs.list",
        "summary": "List audit logs",
        "tags": [
          "audit"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-web.backend",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.auditLogs.read",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "targetType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operatorId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true,
              "x-sdkwork-rust-type": "i64"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit log list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/AuditLogResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AuthToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Access-Token"
      },
      "AgentToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SDKWork-Agent-Token"
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSizeParam": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 20
        }
      }
    },
    "schemas": {
      "ProblemDetail": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "type",
          "title",
          "status",
          "code",
          "traceId"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri-reference"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "code": {
            "$ref": "#/components/schemas/SdkWorkPlatformErrorCode"
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "description": "Server-owned request correlation id."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            }
          }
        }
      },
      "CreateNginxConfigRequest": {
        "type": "object",
        "required": [
          "configType",
          "configName",
          "configContent"
        ],
        "properties": {
          "configType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "configName": {
            "type": "string",
            "maxLength": 200
          },
          "configContent": {
            "type": "string"
          },
          "siteId": {
            "type": "string",
            "format": "uuid"
          },
          "domainId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "UpdateNginxConfigRequest": {
        "type": "object",
        "properties": {
          "configContent": {
            "type": "string"
          },
          "configName": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "NginxConfigResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "configType": {
            "type": "integer"
          },
          "configName": {
            "type": "string"
          },
          "configContent": {
            "type": "string"
          },
          "configHash": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "versionNo": {
            "type": "integer"
          },
          "deployedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NginxConfigPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NginxConfigResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "NginxValidateResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "severity": {
                  "type": "string",
                  "enum": [
                    "error",
                    "warning",
                    "info"
                  ]
                }
              }
            }
          }
        }
      },
      "NginxDeployResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "configId": {
            "type": "string",
            "format": "uuid"
          },
          "deployedAt": {
            "type": "string",
            "format": "date-time"
          },
          "reloadResult": {
            "type": "object",
            "properties": {
              "reloaded": {
                "type": "boolean"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "NginxReloadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NginxStatusResponse": {
        "type": "object",
        "properties": {
          "running": {
            "type": "boolean"
          },
          "version": {
            "type": "string"
          },
          "pid": {
            "type": "integer"
          },
          "activeConnections": {
            "type": "integer"
          },
          "configPath": {
            "type": "string"
          },
          "uptime": {
            "type": "string"
          }
        }
      },
      "CreateServerRequest": {
        "type": "object",
        "required": [
          "name",
          "host",
          "sshPort"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "host": {
            "type": "string",
            "maxLength": 255
          },
          "sshPort": {
            "type": "integer",
            "default": 22
          },
          "sshUser": {
            "type": "string",
            "default": "root"
          },
          "sshKeyPath": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "ServerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "sshPort": {
            "type": "integer"
          },
          "status": {
            "type": "integer",
            "description": "0=offline, 1=online"
          },
          "lastHeartbeatAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateServerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServerResponse"
          },
          {
            "type": "object",
            "required": [
              "agentToken"
            ],
            "properties": {
              "agentToken": {
                "type": "string",
                "description": "Bootstrap agent credential; returned once at registration."
              }
            }
          }
        ]
      },
      "AgentHeartbeatRequest": {
        "type": "object",
        "properties": {
          "agentVersion": {
            "type": "string"
          },
          "nginxEnabled": {
            "type": "boolean"
          },
          "activeConfigs": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Number of active nginx configs reported by the agent as a string."
          },
          "lastSyncVersion": {
            "type": "string",
            "description": "Last successfully applied syncVersion reported by the edge agent."
          }
        }
      },
      "AgentHeartbeatResponse": {
        "type": "object",
        "properties": {
          "serverId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "integer"
          },
          "acknowledgedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentSyncResponse": {
        "type": "object",
        "properties": {
          "serverId": {
            "type": "string",
            "format": "uuid"
          },
          "syncVersion": {
            "type": "string",
            "description": "Stable SHA-256 fingerprint of active nginx configs and certificates for the tenant."
          },
          "unchanged": {
            "type": "boolean",
            "description": "True when ifSyncVersion matched syncVersion; bundles are omitted to save bandwidth."
          },
          "nginxConfigs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentNginxConfigBundle"
            }
          },
          "certificates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentCertificateBundle"
            }
          }
        }
      },
      "AgentNginxConfigBundle": {
        "type": "object",
        "properties": {
          "configId": {
            "type": "string",
            "format": "uuid"
          },
          "domain": {
            "type": "string"
          },
          "configContent": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string",
            "description": "SHA-256 hex digest of configContent."
          },
          "version": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Config revision number as a string to avoid JavaScript precision loss."
          }
        }
      },
      "AgentCertificateBundle": {
        "type": "object",
        "properties": {
          "certificateId": {
            "type": "string",
            "format": "uuid"
          },
          "certName": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string"
          },
          "fullchainPem": {
            "type": "string"
          },
          "privkeyPem": {
            "type": "string"
          }
        }
      },
      "ServerPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServerResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "AuditLogResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "operatorId": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Operator user id as a string to avoid JavaScript precision loss."
          },
          "operatorType": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Target snowflake id as a string to avoid JavaScript precision loss."
          },
          "targetUuid": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "changes": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditLogPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLogResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "SdkWorkApiResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "data",
          "traceId"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "enum": [
              0
            ],
            "default": 0,
            "minimum": 0,
            "maximum": 0
          },
          "data": {
            "description": "Operation-specific payload typed per response schema."
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "description": "Server-owned request correlation id."
          }
        }
      },
      "SdkWorkResourceData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "type": "object",
            "additionalProperties": true,
            "description": "Typed domain resource for the operation."
          }
        }
      },
      "SdkWorkPageData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "SdkWorkCommandData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "accepted"
        ],
        "properties": {
          "accepted": {
            "type": "boolean",
            "const": true
          },
          "resourceId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "offset",
              "cursor"
            ]
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "totalItems": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "SdkWorkPlatformErrorCode": {
        "type": "integer",
        "format": "int32",
        "minimum": 40001,
        "maximum": 79999,
        "description": "Platform or domain error code per API_SPEC.md section 15.3."
      },
      "FieldError": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "field",
          "message"
        ],
        "properties": {
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "format": "int32",
            "minimum": 40011,
            "maximum": 40099
          }
        }
      },
      "SdkWorkResourceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SdkWorkApiResponse"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SdkWorkResourceData"
              }
            }
          }
        ]
      },
      "SdkWorkListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SdkWorkApiResponse"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SdkWorkPageData"
              }
            }
          }
        ]
      },
      "SdkWorkCommandResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SdkWorkApiResponse"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SdkWorkCommandData"
              }
            }
          }
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication is required.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "Conflict": {
        "description": "Resource conflict.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      }
    }
  }
}
